<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    <ion-text class="text1">
      <h2>Este texto se muestra siempre</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </ion-text>

    <ion-text class="text2" *appFeatureFlag="'ff_tab1Page_testText'">
      <h2>Este texto se muestra si feature flag es true</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </ion-text>

    <ion-button class="button" (click)="this.toggleText()">{{ this.isShowing ? 'Ocultar texto' : 'Mostrar texto' }}</ion-button>

    <ion-text class="text3" *ngIf="this.isShowing">
      <h2>Este texto se muestra si aprieto el botón</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </ion-text>
  </ion-content>
</ion-content>
